<nav class="indigo">
    <div class="nav-wrapper container">
        <a class="brand-logo">TestIt</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ui-sref-active="active"><a ui-sref="my-tests">My Tests</a></li>
            <li ui-sref-active="active" ng-if="permissions.VIEW_TESTS"><a ui-sref="tests">All Tests</a></li>
            <li ui-sref-active="active" ng-if="permissions.VIEW_APPLICATION"><a ui-sref="applications">Applications</a></li>
            <li ui-sref-active="active" ng-if="permissions.ADMINISTRATION"><a ui-sref="administration.users">Administration</a></li>
            <li ui-sref-active="active" ><a ui-sref="account"><i class="fa fa-user"></i> <span ng-bind="me.name"></span></a></li>
        </ul>
    </div>
</nav>
