<div class="card">
    <div class="card-content">
        <h2>Items</h2>
        <table>
            <tbody ng-repeat="section in test.test.sections">
            <tr ng-repeat="item in section.items">
                <td><span ng-show="$index == 0" ng-bind="section.name"></span></td>
                <td ng-bind="item.text"></td>
                <td>
                    <md-select ng-model="item.status" aria-label="Status" class="no-margin">
                        <md-option ng-repeat="status in enums.ITEM_STATUS"
                                   value="{{ status }}">
                            <span ng-bind="status"></span>
                        </md-option>
                    </md-select>
                </td>
                <td><input type="text" class="test-comment" ng-model="item.comment"
                           ng-model-options="{debounce: 500}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
