<md-dialog flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-bind="feature.name"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="layout-padding">
        <input ng-model="feature.name" ng-disabled="!application.editing">
        <md-input-container class="md-block">
            <label>Sections / Items</label>
            <textarea ng-model="feature.items" rows="15" md-select-on-focus ng-disabled="!application.editing" style="height: 800px;"></textarea>
        </md-input-container>
    </md-dialog-content>
</md-dialog>
