<div class="container">
    <div class="card indigo lighten-5">
        <div class="card-content">
            <h2>Account</h2>

            <div>
                <b>Username:</b> {{ me.user }}
            </div>
            <div>
                <b>Name:</b> {{ me.name }}
            </div>
            <div>
                <b>Email:</b> {{ me.email }}
            </div>
        </div>
    </div>

    <div class="card indigo lighten-5">
        <div class="card-content">
            <h2>Change Password</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" id="oldPassword" ng-model="changePassword.oldPassword">
                    <label for="oldPassword">Old Password</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" id="newPassword1" ng-model="changePassword.newPassword1">
                    <label for="newPassword1">New Password</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" id="newPassword2" ng-model="changePassword.newPassword2">
                    <label for="newPassword2">Repeat New Password</label>
                </div>
            </div>
            <div>
                <a class="waves-effect waves-light btn" ng-click="changePassword.doChange()">Save</a>
                <a class="waves-effect waves-light btn" ng-show="changePassword.oldPassword || changePassword.newPassword1 || changePassword.newPassword2" ng-click="changePassword.cancel()">Cancel</a>
            </div>
        </div>
    </div>
</div>
