<h2>Builds
    <md-button ng-click="application.addBuild(0)" class="text-center" ng-show="application.editing">Add build</md-button>
</h2>
<div ng-hide="application.application.builds.length > 0">
    <span>No builds added yet</span>
</div>

<div class="card" ng-repeat="build in application.application.builds track by $index">
    <div class="card-content">
        <a class="btn-floating btn-large waves-effect waves-light indigo right" ng-show="permissions.EDIT_TEMPLATE" ng-click="applications.createApplication()"><ng-md-icon icon="add"></ng-md-icon></a>
        <h2>Builds: <span ng-bind="build.name"></span></h2>

    </div>
</div>
