<h2>Features
    <md-button ng-click="application.addFeature(0); application.refreshFeatures()" class="text-center"
               ng-show="application.editing">Add feature
    </md-button>
</h2>
<div ng-hide="application.application.features.length > 0">
    <span>No features added yet</span>
</div>
<div class="card">
    <div class="card-content">
        <ul dnd-list="application.application.features" dnd-disable-if="!application.editing">
            <!-- The dnd-draggable directive makes an element draggable and will
                 transfer the object that was assigned to it. If an element was
                 dragged away, you have to remove it from the original list
                 yourself using the dnd-moved attribute -->
            <li ng-repeat="feature in application.application.features track by $index"
                dnd-draggable="feature"
                dnd-moved="application.application.features.splice($index, 1)"
                dnd-effect-allowed="move">
                <i class="fa fa-arrows" ng-show="application.editing"></i>
                <a ng-click="application.showFeature(feature)" class="pointer">
                    Feature: <span ng-bind="feature.name"></span>
                </a>
                <md-button class="md-primary md-raised" ng-click="application.deleteItemWithModal(application.application.features, $index)" style="float: right">Remove Feature</md-button>
                <br />
                <br />
            </li>
        </ul>
    </div>
</div>
