<h2>Builds
    <md-button ng-click="application.addBuild(0)" class="text-center" ng-show="application.editing">Add build</md-button>
    <md-button ng-click="application.refreshFeatures()" class="text-center" ng-show="application.editing">Refresh Features</md-button>
</h2>
<div ng-hide="application.application.builds.length > 0">
    <span>No builds added yet</span>
</div>
<div class="card">
    <div class="card-content">
        <table class="bordered">
            <thead>
            <tr>
                <th></th>
                <th class="rotate" ng-repeat="build in application.application.builds track by $index">
                    <div><span>
                        <span ng-bind="build.name"></span>
                        <i class="fa fa-remove" ng-click="application.deleteItemWithModal(application.application.builds, $index, $event)" ng-show="application.editing"></i>
                        <i class="fa fa-edit" ng-click="application.editBuildName(build)" ng-show="application.editing"></i>
                        <i class="fa fa-copy" ng-click="application.copyBuild(application.application.builds, build)" ng-show="application.editing"></i>
                    </span></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feature in application.availableFeatures track by $index">
                <td ng-bind="feature"></td>
                <td ng-repeat="build in application.application.builds track by $index" style="text-align: center">
                    <md-checkbox ng-model="build.features[feature]"
                                 aria-label="{{ feature }}" class="md-primary" ng-disabled="!application.editing">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
