<div class="container well">
    <div class="card">
        <div class="card-content">
            <a class="btn-floating btn-large waves-effect waves-light indigo right" ng-show="permissions.EDIT_TEMPLATE" ng-click="templates.createTemplate()"><ng-md-icon icon="add"></ng-md-icon></a>
            <h2>Templates</h2>
            <table>
                <tbody>
                    <tr ng-repeat="template in templates.data"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
