<div class="container well">
    <div class="card">
        <div class="card-content">
            <a class="btn-floating btn-large waves-effect waves-light indigo right" ng-show="permissions.EDIT_TEMPLATE" ng-click="templates.createTemplate()"><ng-md-icon icon="add"></ng-md-icon></a>
            <h2>Templates</h2>
            <md-toolbar ng-show="templates.loading" layout-padding>
                <p>
                    <i class="fa fa-spin fa-spinner"></i> Loading templates...
                </p>
            </md-toolbar>
            <table>
                <tbody>
                    <tr ng-repeat="template in templates.data">
                        <td style="width: 50%"><a href="#/template/{{ template._id }}" ng-bind="template.name"></a></td>
                        <td><span ng-bind="template.presets.length"></span> Presets</td>
                        <td><span ng-bind="template.features.length"></span> Features</td>
                        <td>Last updated <span ng-bind="template.lastModified | momentFromNow"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
