<div class="container">
    <div class="card">
        <div class="card-content">
            <md-toolbar ng-show="test.loading" layout-padding>
                <p>
                    <i class="fa fa-spin fa-spinner"></i> Loading test...
                </p>
            </md-toolbar>
            <div ng-hide="test.loading">
                <div style="float: right">
                    <md-button class="md-raised md-primary" ng-disabled="test.saving || !test.wasModified"
                               ng-click="test.save()">
                        <i class="fa" ng-class="{'fa-save': !save.saving, 'fa-spinner fa-spin': save.saving}"></i>
                        Save Changes
                    </md-button>
                </div>

                <md-button class="md-raised md-primary" ng-click="test.mode = 'items'" ng-disabled="test.mode === 'items'">Items</md-button>
                <md-button class="md-raised md-primary" ng-click="test.mode = 'metaData'" ng-disabled="test.mode === 'metaData'">Meta Data</md-button>
            </div>
        </div>
    </div>
    <div ng-include="'/templates/views/test/items.html'" ng-if="test.mode === 'items'"></div>
    <div ng-include="'/templates/views/test/meta-data.html'" ng-if="test.mode === 'metaData'"></div>

</div>

